<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.larcenter.com.br/wp-content/uploads/sites/3/curriculos/Banner-Site-Home-Cinema-1024x304.png);">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Create your list of your favourites films.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<% @lists.each do |list| %>
  <ul>
    <li><%= list.name %> - <p><%= link_to 'Add bookmarks', new_list_bookmark_path(list), class: 'btn btn-secondary' %></p></li>
  </ul>
<% end %>

<p><%= link_to 'Create a movie list', new_list_path, class: 'btn btn-success' %>
</p>

