<div class="main-container">
  <h1>Give a name to your new list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.submit class: 'btn btn-success mt-5' %>
  <% end %>
</div>
