// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";

body {
  background-color: #202020;
  color: white;
}


.main-container {
  margin: 150px 400px;
}

.main-container li {
  list-style: none;
}
