// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";

body {
  background-color: #202020;
  color: white;
}


.main-container {
  margin: 150px 400px;
  li {
    list-style: none;
  }
}
